.btn {
  font-size: $font-size-14;
  font-family: $font-bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: 0;
}

.btn-xs {
  font-size: $font-size-12;
}

.btn-lg {
  font-size: $font-size-16;
}

.btn-success {
  color: darken($green, 30%);
}

.btn-light {
  color: darken(#FFFFFF, 40%);

  &.btn-light-transparent {
    background-color: rgba(255,255,255, 0.15);
    color: rgba(255,255,255, 0.8);

    &:hover {
      background-color: rgba(255,255,255, 0.25);
      color: white;
    }
  }

}
